List is a collection of objects like integers,strings,float and also other lists. List can be accesed using index. each element in list have indexes starting 0.

In [3]:
#creating List
student= ["Basavaraj", "Frankfurt University of Applied Science", "Average grade is ", 2.1]
print(student)

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 2.1]

In [8]:
#We can use negative and regular indexing 
print(student[1])
print(student[-3])
print(student[-1])

Frankfurt University of Applied Science
Frankfurt University of Applied Science
2.1

List can contain string,integer,float and other lists make it as nested list and also other data structures like tuples.Indexing works as normal

In [9]:
print(student)

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 2.1]

In [11]:
student =["Basavaraj", "Frankfurt University of Applied Science", "Average grade is ", 2.1,("Gangadhar",1.3)] #contains tuple
print(student)

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 2.1, ('Gangadhar', 1.3)]

#Note List are mutable, means we can change the content of List. This is Main differance between list and tuples. Also 
List are created using square brackets [] and Tuples are created using paranthesis ().

In [39]:
#Try to change tuple content
tuple1=("ABC",123)
tuple1[0]="XYZ" # Content will not change as Tuple is unmutable

TypeError: 'tuple' object does not support item assignment

In [44]:
student
student[3]=1.7
print(student) # Content changes because lists are mutable

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 1.7, ('Gangadhar', 1.3), 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer']

In [29]:
#accesing last 2 elements from list
print(student[3:5])
print(student[0:4])

[2.1, ('Gangadhar', 1.3)]
['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 2.1]

In [45]:
#Add elements to list by using extend and append method 
student.extend("B") #extend takes exactly one argument
print(student) # Hmm looks interesting programmming word spearted by alphabets.

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 1.7, ('Gangadhar', 1.3), 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'B']

In [37]:
#lets try append
student.append("Developer")
print(student) # more interesting outputs.

['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 2.1, ('Gangadhar', 1.3), 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 'Developer']

In [55]:
#delete elements
print(len(student))
del(student[5])
print(student)

5
['Basavaraj', 'Frankfurt University of Applied Science', 'Average grade is ', 1.7, ('Gangadhar', 1.3)]

In [66]:
#split list content by default split separates the elements of list which are separated by comma
print("Basavaraj Gangandhar".split())
print("a,b,c,d".split(','))

['Basavaraj', 'Gangandhar']
['a', 'b', 'c', 'd']

Copy and clone 
Two lists can refer to same address.

In [70]:
A=["Greece","beach",222]
print(A)
B=A
print(B) # both A & B refering to same list

['Greece', 'beach', 222]
['Greece', 'beach', 222]

In [77]:
#Now if i change the content of A it will affect the content of B. 
A=("Santorini","red beach",222)

print(B) # B values

('Santorini', 'red beach', 222)
('Santorini', 'red beach', 222)

In [80]:
#clone by value
B=A[:] # Stops affecting the contents of B.
B

('Santorini', 'red beach', 222)

In [84]:
print(B)
A=["Greece","beach",222]
print(B)
print(A)

('Santorini', 'red beach', 222)
('Santorini', 'red beach', 222)
['Greece', 'beach', 222]