We have for loop and while loop, before loops will work on range
> range() is an object. which generates list of ordered sequance. starting from 0 by deafult and always increament by 1

In [4]:
#ex range to generate number 0 to 2
range(3)

range(0, 3)

In [7]:
for x in range(3):  #Note that range(6) is not the values of 0 to 3, but the values 0 to 2.
    print (x)

0
1
2

In [8]:
#we can specify the starting value in range
for x in range(3,6): # generates 3 to 5, always increment by 1 
    print (x)

3
4
5

In [10]:
#In range value is always incremented by 1 by default, but we can mention increment by number : range(1,10,2) increment by 2
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [ ]:
#For Loops allow to execute a block of code repeated number of times. 
#For Loops iterates over a sequance that can string,tuple,set,list,dictionary.

In [11]:
#For like iterator using
fruits= ["banana","orange","apple"]
for x in fruits:
    print(x)

banana
orange
apple

In [12]:
#iterate over string 
for x in "banana":
    print(x)

b
a
n
a
n
a

In [20]:
#break : using break statement we can break the iteration before it loops entire set,list,tuple etc 
print(fruits)
for x in fruits:
    print(x)
    if x=="cherries":
         break

['banana', 'orange', 'apple', 'cherries', 'cherries']
banana
orange
apple
cherries

In [21]:
#exiting loop using break 
for x in fruits:
    if x == "cherries":
            break
    print(x)

banana
orange
apple

In [3]:
dates = [1991,1992,1993]
lenght =len(dates)
print(lenght)
for i in range(lenght):
    print(dates[i])

3
1991
1992
1993

In [10]:
#Change the elements of list 
movies=["Queen", "Gladiator","Jobs","Pursuit of Happiness"]
for i in range(0,4):
    print ("Before " + movies[i])
    movies[i] = "Imdb 9.6"
    print(movies[i])

Before Queen
Imdb 9.6
Before Gladiator
Imdb 9.6
Before Jobs
Imdb 9.6
Before Pursuit of Happiness
Imdb 9.6

In [11]:
# we can access the index and element value as follow
for i, movie in enumerate(movies):
    print(i,movie)

0 Imdb 9.6
1 Imdb 9.6
2 Imdb 9.6
3 Imdb 9.6

<h1>#Very important is nested loops</h1>
<h2>#Loop inside loop</h2>
<h3>#the inner loop will be executed one time for each iteration of outer loop</h3>

In [1]:
#example
outerloop = ["outerloop1st time:", "outerloops2ndtime:","outerloop3rdtime:"]
innerloop =["1stelementofinnerloop", "2ndelementofinnerloop","3rdelementofinnerloop","4thelementofinnerloop"]

for x in outerloop:  #outerloop
    print ("\n")
    for y in innerloop: #innerloop
        print(x,y)

outerloop1st time: 1stelementofinnerloop
outerloop1st time: 2ndelementofinnerloop
outerloop1st time: 3rdelementofinnerloop
outerloop1st time: 4thelementofinnerloop


outerloops2ndtime: 1stelementofinnerloop
outerloops2ndtime: 2ndelementofinnerloop
outerloops2ndtime: 3rdelementofinnerloop
outerloops2ndtime: 4thelementofinnerloop


outerloop3rdtime: 1stelementofinnerloop
outerloop3rdtime: 2ndelementofinnerloop
outerloop3rdtime: 3rdelementofinnerloop
outerloop3rdtime: 4thelementofinnerloop

In [ ]:
#empty for loop 
for i in [0,1,2]:  # only this will gives unexpected EOF while parsing, use "pass" to avoid error
    pass

<h1> While Loops</h1>
As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value

Letâ€™s say we would like to iterate through list <code>dates</code> and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

<h1> With the while loop we can execute a set of statements as long as a condition is true.</h1>

In [14]:
#as soon as encounter year 1973 stop execution
dates=[1981,1992,1993,1989,1973]

i = 0
year = 0

while(dates[i] != 1973):
    
   # year = dates[i]
    print(dates[i])
    i=i+1

1981
1992
1993
1989

In [3]:

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

1982
1980
1973

In [20]:
dates=[1981,1992,1993,1989,1973]

i = 0
year = 0

while(dates[i] != 1973):

   # year = dates[i]
    print(dates[i])
    i=i+1

1981
1992
1993
1989