<h1>#####Introduction to Pandas#####</h1>

In [1]:
#Dependecies needed to install file
!pip install xlrd #is software package manager, used to install software available in python

Requirement already satisfied: xlrd in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.2.0)

In [2]:
#importing required library
import pandas as pd

<h4> After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (.csv) file to a dataframe. This variable csv_path stores the path of the .csv, that is used as an argument to the read_csv function. The result is stored in the object df, this is a common short form used for a variable referring to a Pandas dataframe.</h4>

In [7]:
#read the data from csv file
csv_path = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv"
df = pd.read_csv(csv_path)

In [8]:
#use head to view few rows
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function read_excel. The result is a data frame as before:

In [11]:
xlsx = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
#read excel file 
df = pd.read_excel(xlsx)
#display few rows
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [16]:
df[['Genre']] # fetching specific columns from data frame.

                         Genre
0               pop, rock, R&B
1                    hard rock
2             progressive rock
3               R&B, soul, pop
4  hard rock, progressive rock
5   rock, soft rock, folk rock
6                        disco
7                    soft rock

In [18]:
#Assign specific column to new data frame
x = df[['Album']]
x

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [21]:
#Get the column as series
y=df['Album']
y

0                           Thriller
1                      Back in Black
2          The Dark Side of the Moon
3                      The Bodyguard
4                    Bat Out of Hell
5    Their Greatest Hits (1971-1975)
6               Saturday Night Fever
7                            Rumours
Name: Album, dtype: object

In [22]:
type(y)

pandas.core.series.Series

In [24]:
#Get the column as Dataframe
x =type(df[['Album']])
x

pandas.core.frame.DataFrame

In [26]:
#Make new dataframe of multiple columns
x= df[['Artist','Album','Genre']]
x

,Artist,Album,Genre
0,Michael Jackson,Thriller,"pop, rock, R&B"
1,AC/DC,Back in Black,hard rock
2,Pink Floyd,The Dark Side of the Moon,progressive rock
3,Whitney Houston,The Bodyguard,"R&B, soul, pop"
4,Meat Loaf,Bat Out of Hell,"hard rock, progressive rock"
5,Eagles,Their Greatest Hits (1971-1975),"rock, soft rock, folk rock"
6,Bee Gees,Saturday Night Fever,disco
7,Fleetwood Mac,Rumours,soft rock

One way to access unique elements is the iloc method.

In [28]:
# Access the values from dataframe 1st row first column
df.iloc[0,0]

'Michael Jackson'

In [29]:
#Access the values from dataframe 2nd row 2nd column
df.iloc[1,1]

'Back in Black'

In [30]:
#Access 1st row 2nd column
df.iloc[0,1]

'Thriller'

In [31]:
len(df)

8

In [37]:
#Access last row 1st column
df.iloc[[7]]

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
7,Fleetwood Mac,Rumours,1977,00:40:01,soft rock,27.9,40,1977-02-04,NaN,6.5

Access columns using values and names

In [41]:
#Access data using coulmn names 
df.loc[0,'Album']

'Thriller'

Perform slicing using both index and name of column

In [45]:
df.iloc[0:2,0:3] # first selects two rows : then first 3 columns

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [48]:
#Try loc now
df.loc[0:2, 'Artist':'Genre']

,Artist,Album,Released,Length,Genre
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B"
1,AC/DC,Back in Black,1980,00:42:11,hard rock
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock

In [49]:
# Write your code below and press Shift+Enter to execute
q= df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [50]:
# Write your code below and press Shift+Enter to execute
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [ ]:
##