######################################
1) Sets are collection of objects like lists, tuples and other data structures.
2) Sets are created using curly brackets.
3) Elements of set are unordered. 
4) Elements of sets are unique. duplicates are removed by python by default.

In [2]:
set1 = {"banana","orange","apple","grapes"}
set1

{'apple', 'banana', 'grapes', 'orange'}

In [12]:
#check adding same element and redundany/duplicate
#set1.add("Mango", "banana") # takes exactly one argument.
#set1.add(["Mango", "banana"])#unhashable type list 
set1.add("Mango")
print(set1)
set1.add("Mango") # duplicate element
print(set1)

{'Mango', 'grapes', 'banana', 'orange', 'apple'}
{'Mango', 'grapes', 'banana', 'orange', 'apple'}

#Type_casting = converting one datastructure type to other datastructure or datatype to other datatypes
#Convert List to set. 
#List are ordered and can hold duplicate elements.when lists are converted to set duplicates are removed.
#Set method is used to convert list to set.

In [17]:
#create a list 
list1= ["cherries", "lemon", "banana","lemon"]
list1

['cherries', 'lemon', 'banana', 'lemon']

In [18]:
#convert list to set
set1=set(list1)
set1 # observe no duplicates

{'banana', 'cherries', 'lemon'}

#########<b>Set Operations</b>###########
<li>
1) Add and remove elements 
2) Intersection of two sets 
3) Union of two sets
4) check the presence of element in set using "in" keyword</li>

In [25]:
#Create new set from list
list2=["abc","xyz",1,2,"xyz"]
list2

['abc', 'xyz', 1, 2, 'xyz']

In [27]:
setA=set(list2)
setA

{1, 2, 'abc', 'xyz'}

In [30]:
setB={1,"aei","ou",26}
setB

{1, 26, 'aei', 'ou'}

In [31]:
#Intersection: Select only common elements from sets, using  "&"(apersond operator we achieve intersection)
res1=setA & setB
res1 # element 1 is common

{1}

In [32]:
#Union : Combines two sets, use "union" keyword 
res2=setA.union(setB)
res2

{1, 2, 26, 'abc', 'aei', 'ou', 'xyz'}

In [33]:
#check is it setB is subset of setA, we use "issubset" method
setB.issubset(setA) # its not, reruns false

False

In [37]:
#check the element is present in set using "in" keyword. 
"aei" in res2

True

In [40]:
#check the differance between two sets
setA.difference(setB)

{2, 'abc', 'xyz'}

In [41]:
#issuperset
setA.issuperset(setB)

False

In [46]:
#remove elements\
res1, res2
res2.remove("abc")
res1,res2

(set(), {1, 2, 26, 'aei', 'ou', 'xyz'})

In [48]:
setx={1,2,3,4}
sety={2,3,4,5}
setx,sety

({1, 2, 3, 4}, {2, 3, 4, 5})

In [49]:
sum(setx)

10

In [50]:
#check the sum of two sets are equal or not
sum(setx) == sum(sety)

False